@use "../utils/vars";
@use "../utils/mixins";

.order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  height: 80vh;
  padding: 12px;
  background: vars.$background-color-section-main;
  background-color: white;
}
