@use "../utils/vars";
@use "../utils/mixins";

.main-button {
  @include mixins.roboto-condensed(18px, 400);
  display: block;
  margin: 20px auto 0;
  border-radius: 10px;
  background: linear-gradient(#fff, #d6e4ea);
  color: vars.$sub-title-color;
  padding: 8px 24px;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.4);
  transition: all 250ms ease;
  cursor: pointer;

  &:hover {
    background: linear-gradient(#fff, #c3e0ed);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    transition: all 250ms ease;
  }
}
