@use "../utils/vars";
@use "../utils/mixins";

.main-button {
  @include mixins.calibri-400(20px, 24px);
  display: block;
  margin: 20px auto 0;
  border-radius: 6px;
  background: linear-gradient(#ffffffad, #d6e4eaa1);
  color: vars.$sub-title-color;
  padding: 8px 24px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  text-align: center;
  cursor: pointer;

  &--form {
    width: 100%;
    margin-top: 0;
    padding: 12px 24px;
  }

  &--product-card {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &:hover {
    background: linear-gradient(#fff, #c3e0ed);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    transition: all 250ms ease;
  }
}
