@use "../utils/vars";
@use "../utils/mixins";

.mobile-menu-btn {
  padding: 0;
  margin: 10px 0;
  width: 60px;
  height: 45px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__icon {
    width: 70%;
    margin: 0 auto;

    span {
      display: block;
      width: 70%;
      margin: 0 auto;
      // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
      border-radius: 1.5px;
      height: 3px;
      background: vars.$sub-title-color;
      transition: all 0.3s;
      position: relative;
    }

    span + span {
      margin-top: 4px;
    }

    &.active span:nth-child(1) {
      animation: ease 0.7s top forwards;
    }

    &.not-active span:nth-child(1) {
      animation: ease 0.7s top-2 forwards;
    }

    &.active span:nth-child(2) {
      animation: ease 0.7s scaled forwards;
    }

    &.not-active span:nth-child(2) {
      animation: ease 0.7s scaled-2 forwards;
    }

    &.active span:nth-child(3) {
      animation: ease 0.7s bottom forwards;
    }

    &.not-active span:nth-child(3) {
      animation: ease 0.7s bottom-2 forwards;
    }
  }
  //  ///// Var.1 /////
  //   &__icon {
  //     width: 40px;

  //     &:before,
  //     &:after,
  //     & div {
  //       background: #fff;
  //       content: "";
  //       display: block;
  //       height: 4.4px;
  //       border-radius: 3px;
  //       margin: 4px 0;
  //       transition: 0.5s;
  //     }
  //     .is-open &:before {
  //       margin: 8px 0;
  //       transform: translateY(12px) rotate(135deg);
  //     }
  //     .is-open &:after {
  //       margin: 8px 0;
  //       transform: translateY(-12px) rotate(-135deg);
  //     }
  //     .is-open & div {
  //       margin: 8px 0;
  //       transform: scale(0);
  //     }
  //   }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: translateY(-14.5px) rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: translateY(14.5px) rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
