@use "../utils/vars";
@use "../utils/mixins";

.product-card {
  position: relative;
  overflow: hidden;
  display: block;
  width: 98%;
  max-width: 420px;

  padding: 10px 10px 20px 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 8px;
  background-color: #f1f5f6;
  transform: scale(1);
  transition: transform 300ms ease;

  .discount {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    padding-left: 6px;
    padding-top: 12px;
    background-color: #ff732d;
    border-right: 1px solid #ff732d;
    border-bottom-right-radius: 999px;
  }

  &__image {
    display: block;
    width: 100%;
    background-color: vars.$image-background-color;
    border-radius: 6px;
    object-fit: cover;
    overflow: hidden;
    transition: transform 700ms ease;

    img {
      height: auto;
      border-radius: 4px;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__info-more {
    @include mixins.calibri-400(15px, 24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 2px 10px 12px 20px;
    color: #171717;
    text-align: left;
    cursor: pointer;
  }

  &__subtitle {
    @include mixins.roboto-condensed(13px, 700);
    line-height: 20px;
    color: #66696c;
    text-align: initial;
    text-transform: uppercase;
  }

  &__text {
    @include mixins.calibri-400(13px, 20px);
    color: #66696c;
    text-align: initial;

    strong {
      font-size: 14px;
    }
  }
}
