.to-top-btn {
  position: fixed;
  top: 80vh;
  right: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;

  &__icon {
    width: 24px;
    height: 24px;

    @media screen and (min-width: 667px) {
      width: 32px;
      height: 32px;
    }
  }
}
