@use "../utils/vars";
@use "../utils/mixins";

.breaker {
  margin: 0px auto;
  width: 60%;
  border-bottom: 1px dotted vars.$section-title-color;

  &::before {
    content: "";
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 16px;
    padding: 0 30px;
    margin: 0 auto;
    transition: 0.3s ease all;
    bottom: -24px;
  }

  &::after {
    content: "";
    background-position: center;
    background-size: cover;
    background-image: url("/images/vb.webp");
    position: relative;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 auto 0;
    transition: 0.3s ease all;
    bottom: -8px;
  }
}
