.fa-instagram {
  font-size: 24px;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  background-clip: text;
  filter: saturate(50%);

  -moz-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;

  &:hover {
    filter: saturate(100%);
  }
}

.fa-facebook {
  font-size: 24px;
  color: #1877f2;
  filter: saturate(40%);

  &:hover {
    filter: saturate(100%);
  }
}

.fa-youtube {
  font-size: 24;
  color: #ff1212;
  filter: saturate(40%);
}

.fa-youtube:hover {
  filter: saturate(100%);
}

.fa-cart-arrow-down {
  font-size: 16px;
}
