@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin text-gradient {
  background: var(--hero-name-background);
  background-clip: text;
  color: transparent;
}

@mixin text-style($font-family: "Roboto Condensed", $font-size, $font-weight) {
  font-family: $font-family, Arial, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
}
