$main-title-color: #6d6d6d;
$section-title-color: #66696c;
$sub-title-color: #66696c;
$nav-links-color: #66696c;
$slogan-background: #ffffffb3;
$main-color: #313131;
$image-background-color: #8e8e8e;

$background-color: #ffffff;

$background-color-section-main: #ffffff;
$background-color-section-secondary: #f0f4f5;

$backdrop-color: #0d131fe2;

$links-color: #39b3ccc2;
$links-accent-color: #c8aa76;

$header-menu-background: #f0f8f8;
