@use "../utils/vars";
@use "../utils/mixins";

.about {
  padding-bottom: 40px;
  background: vars.$background-color-section-main;
  &__title {
    margin-bottom: 40px;
    &::before {
      background-color: vars.$background-color-section-main;
    }
  }

  &__info-block {
    display: flex;
    gap: 12px;
  }

  &__block--images {
    display: none;
  }

  &__picture {
    grid-column: span 1 / span 2;
    border-radius: 8px;
  }

  &__text {
    @include mixins.calibri-400(20px, 24px);
    margin-bottom: 12px;
    text-align: center;
  }

  &__link {
    color: #39b3ccc2;
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    &__block {
      width: 50%;
    }

    &__block--images {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;
    }

    &__block--text {
      position: relative;
    }

    &__button {
      @include mixins.calibri-400(24px, 24px);
      display: block;
      padding: 12px 36px;
      margin-left: auto;
      margin-right: auto;
      width: max-content;
    }
  }
}
