@use '../utils/vars';
@use '../utils/mixins';

.about {
  position: relative;
  padding: 40px 0;
  background: vars.$background-color-section-main;

  &__breaker {
    margin-bottom: 40px;
    &::before {
      background-color: vars.$background-color-section-main;
    }
  }

  &__content {
    display: flex;
    gap: 12px;
  }

  &__block--images {
    display: none;
  }

  &__block--text {
    display: flex;
    flex-direction: column;
  }

  &__picture {
    grid-column: span 1 / span 2;
    border-radius: 8px;
  }

  &__text {
    @include mixins.calibri-400(18px, 20px);
    margin-bottom: 12px;
    text-align: center;
  }

  &__text--with-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__patents {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__patents-list {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 20px;
  }

  &__patents-list-chapter {
    grid-column: span 12 / span 12;
  }

  &__patents-links-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    line-height: normal;
    text-align: justify;
  }
  &__patents-links-list-item {
    .text-link {
      font-weight: 400;
    }
    &::before {
      content: '';
      background-position: center;
      background-size: contain;
      background-image: url('/images/vb.webp');
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 6px;
      margin-bottom: 1px;
      height: 8px;
      width: 8px;
      transition: 0.3s ease all;
      bottom: -8px;
    }
  }

  @media screen and (min-width: 768px) {
    &__content {
      gap: 24px;
    }
    &__block {
      width: 50%;
    }
    &__text {
      @include mixins.calibri-400(20px, 24px);
    }

    &__block--images {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;
    }

    &__patents-list-chapter {
      grid-column: span 6 / span 12;
      &:last-of-type {
        grid-column: span 12 / span 12;
        * {
          text-align: center;
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    &__content {
      flex-direction: column;
    }

    &__block {
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    &__patents-links-list {
      font-size: 14px;
    }
  }
}
