@use "../utils/vars";
@use "../utils/mixins";

.about {
  padding-bottom: 40px;
  &__title {
    &::before {
      background-color: vars.$background-color-production-section;
    }
  }

  &__info-block {
    display: flex;
    margin-top: 40px;
    gap: 12px;
  }

  &__block--images {
    display: none;
  }

  &__picture {
    grid-column: span 1 / span 2;
    height: 440px;
    border-radius: 8px;
  }

  &__text {
    @include mixins.calibri-400(20px, 24px);
    margin-bottom: 12px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    &__block {
      width: 50%;
      // padding: 12px;
    }

    &__block--images {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;
    }

    &__block--text {
      position: relative;
    }

    &__button {
      @include mixins.calibri-400(20px, 24px);
      position: absolute;
      bottom: 20px;
      width: max-content;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
