@use "../utils/vars";
@use "../utils/mixins";

.advantages {
  position: relative;
  margin: 0;
  padding: 40px 0;
  width: 100%;
  display: block;
  background: vars.$background-color-section-secondary;

  &__breaker {
    margin-bottom: 40px;
    &::before {
      background: vars.$background-color-section-secondary;
    }
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  &__list-item {
    grid-column: span 6 / span 6;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 20px 10px;
    text-align: center;
    border-radius: 8px;
  }

  &__list-item-title {
    @include mixins.calibri-400(24px, 24px);
    color: vars.$sub-title-color;
    margin-bottom: 12px;
  }

  &__list-item-text {
    @include mixins.calibri-400(18px, 22px);
    text-align: center;
  }

  &__cooperation-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    // max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__invitation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
  }

  &__invitation-title {
    @include mixins.calibri-400(24px, 24px);
    color: vars.$sub-title-color;
    margin-bottom: 20px;
    text-align: center;
  }

  &__invitation-text {
    @include mixins.calibri-400(18px, 22px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    // margin-bottom: 12px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    &__invitation-container,
    &__form-container {
      width: 50%;
      margin-bottom: 0;
    }
    &__list {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        height: 1px;
        width: 50%;
        margin: 0 auto 0;
        transform: translateX(50%);
        transition: 0.3s ease all;
        border-bottom: 1px dotted vars.$section-title-color;
      }
    }
    &__list-item {
      grid-column: span 2 / span 6;
    }

    &__list-item-title,
    &__invitation-title {
      @include mixins.calibri-400(24px, 24px);
    }

    &__list-item-text {
      @include mixins.calibri-400(16px, 18px);
      text-align: center;
    }

    &__cooperation-block {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
  }

  @media screen and (min-width: 1024px) {
    &__list-item-title,
    &__invitation-title {
      @include mixins.calibri-400(28px, 28px);
    }

    &__list-item-text {
      @include mixins.calibri-400(18px, 22px);
    }

    &__invitation-text {
      @include mixins.calibri-400(20px, 28px);
      text-align: center;
      margin-bottom: 12px;
    }
  }
}
