@use "../utils/mixins";
@use "../utils/vars";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: vars.$background-color-section-main;
  z-index: 1;
  transform: translateY(0%);
  transition: transform 500ms ease;

  &__nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 0.5px solid #766e922e;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 110px;
      height: auto;
      background-color: inherit;
    }
  }

  &__contacts-list {
    display: none;
    flex-direction: column;
    font-size: 13px;
  }

  &.hidden {
    transition: transform 500ms ease;
    transform: translateY(-100%);
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    &__nav-bar {
      justify-content: space-between;
    }
    &__contacts-list {
      display: flex;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: max-content;

    &__lang-bar {
      display: flex;
      gap: 20px;

      li {
        font-size: 14px;

        a {
          font-weight: 100;
          text-decoration: none;
          color: vars.$nav-links-color;

          &:hover {
            color: vars.$links-accent-color;
          }
        }
      }
    }

    &__links-bar {
      display: flex;
      gap: 12px;

      li {
        a {
          text-decoration: none;
          @include mixins.calibri-400(18px, 20px);
          color: vars.$nav-links-color;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #c8aa76;
          }
        }
      }
    }
  }
}
