@use "../utils/vars";
@use "../utils/mixins";

.partners {
  position: relative;
  padding: 40px 0;
  width: 100%;
  display: block;
  background-color: vars.$background-color-section-main;

  &__breaker {
    margin-bottom: 40px;
    &::before {
      background-color: vars.$background-color-section-main;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 12px;
  }

  &__item {
    grid-column: span 6 / span 12;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    transform: scale(1);
    transition: all 300ms ease;

    &:hover {
      transition: all 300ms ease;
      transform: scale(1.03);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  @media screen and (min-width: 768px) {
    &__list:hover > :not(:hover) {
      opacity: 0.9;
      img {
        filter: saturate(40%);
      }
    }
    &__item {
      grid-column: span 4 / span 12;
    }
  }

  @media screen and (min-width: 1024px) {
    &__list:hover > :not(:hover) {
      opacity: 0.9;
      img {
        filter: saturate(40%);
      }
    }
    &__item {
      grid-column: span 2 / span 12;
    }
  }
}
