@use "../utils/vars";
@use "../utils/mixins";

.production {
  padding: 40px 0;
  width: 100%;
  display: block;
  background: vars.$background-color-section-main;

  &__breaker {
    margin-bottom: 40px;
    &::before {
      background-color: vars.$background-color-section-main;
    }
  }

  &__description {
    @include mixins.calibri-400(24px, 32px);
    color: vars.$main-color;
    text-align: center;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 20px;
  }

  &__item {
    grid-column: span 12 / span 12;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .production {
    &__item {
      grid-column: span 6 / span 12;
    }
  }
}

@media screen and (min-width: 1024px) {
  .production {
    &__list:hover > :not(:hover) {
      opacity: 0.9;
      img {
        filter: saturate(40%);
      }
    }
    &__item {
      grid-column: span 3 / span 12;
    }
  }
}

@keyframes waveShift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
