.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;

  .content {
    width: 100%;
    margin: 0 auto;
  }

  .header & {
    display: flex;
    justify-content: space-between;
  }

  .hero & {
    padding: 0 10px;
  }

  .production &,
  .advantages & {
    padding: 0 10px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    .header & {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    .header & {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    .header & {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
