.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;

  .header & {
    display: flex;
    justify-content: space-between;
    // padding-top: 40px;
    // padding-bottom: 40px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    .header & {
      // padding-top: 32px;
      // padding-bottom: 32px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    .header & {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
