@use "../utils/vars";
@use "../utils/mixins";

.hero__title {
  @include mixins.roboto-condensed(36px, 600);
  max-width: 500px;
  color: vars.$main-title-color;
  line-height: 36px;
  margin: 0 auto 30px;
  text-transform: uppercase;
  text-align: center;
}

.section__title {
  @include mixins.calibri-400(30px, 48px);
  color: vars.$section-title-color;
  background-color: inherit;
  text-align: center;
  margin: 0 auto 0;
  padding: 20px 0 20px;
  width: 60%;
  border-bottom: 1px dotted vars.$section-title-color;

  &::before {
    content: "";
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 16px;
    padding: 0 30px;
    margin: 0 auto;
    transition: 0.3s ease all;
    bottom: -90px;
  }

  &::after {
    content: "";
    background-position: center;
    background-size: cover;
    background-image: url("/images/vb.webp");
    position: relative;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 auto 0;
    transition: 0.3s ease all;
    bottom: -30px;
  }
}

.product-card__title {
  @include mixins.roboto-condensed(20px, 300);
  padding: 0;
  color: vars.$sub-title-color;
  text-align: center;
  line-height: 25px;
  margin: 40px auto 20px;

  span {
    @include mixins.roboto-condensed(18px, 300);
    display: block;
    color: #828282;
  }
}
